/* coded by omerakgoz34 :) */

.deltarune-container {
	position: relative;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	overflow: hidden;
	height: 50rem;
	width: 60rem;
	max-width: 80vw;
}

.deltarune-container .deltarune-bg {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 1.3rem;
	height: 40rem;
	width: 60rem;
	max-width: 80vw;
	pointer-events: none;
	background-image: url('/img/deltarune_bg.gif');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.deltarune-container .deltarune-logo {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 20rem;
	height: 15rem;
	width: 40rem;
	max-width: 80vw;
	pointer-events: none;
	background-image: url('/img/deltarune_logo.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.deltarune-container .deltarune-main-title {
	position: absolute;
	top: 30rem;
	left: 50%;
	transform: translateX(-50%);
	width: fit-content;
	height: fit-content;
	text-align: center;
	color: white;
	font-size: 2.5rem;
	pointer-events: none;
	max-width: 80vw;
}

.deltarune-container .ribbon {
	position: absolute;
	top: 33rem;
	left: 50%;
	transform: translateX(-50%);
	height: 18rem;
	width: 60rem;
	max-width: 80vw;
	pointer-events: none;
	background-image: url('/img/ribbon.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.main-container {
	position: relative;
	width: fit-content;
	height: fit-content;
	left: 50%;
	transform: translateX(-50%);
}

.container-title {
	position: relative;
	text-align: center;
	color: yellow;
	font-size: 3rem;
	margin-top: 8rem;
}

.container-text {
	position: relative;
	text-align: justify;
	color: white;
	font-size: 1.2rem;
	width: fit-content;
	height: fit-content;
	margin: 3rem 0;
	left: 50%;
	transform: translateX(-50%);
}

.container-text-span {
	color: rgb(30, 100, 255);
	font-size: 2rem;
	text-align: center;
}

.deltarune-download {
	position: relative;
	color: white;
	width: fit-content;
	height: fit-content;
	border-radius: 0.5rem;
	margin: 1rem 0;
	pointer-events: none;
	left: 50%;
	transform: translateX(-50%);
}

.deltarune-download li {
	list-style: none;
	float: left;
	height: 3.3rem;
	width: 10rem;
	overflow: hidden;
	transition: 0.5s;
	cursor: pointer;
	pointer-events: all;
}

.deltarune-download img {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 105%;
	height: 70%;
	pointer-events: none;
}

.deltarune-download-windows {
	border-right: 0.15vw solid white;
}
.deltarune-download-windows:hover {
	background: rgb(0, 100, 255);
}

.deltarune-download-android {
	border-right: 0.15vw solid white;
	border-left: 0.15vw solid white;
}
/* .deltarune-download-android:hover {
	background: rgb(0, 225, 50);
} */

.deltarune-download-storage {
	border-left: 0.15vw solid white;
}
.deltarune-download-storage:hover {
	background: black;
}

.deltarune-download-storage img {
	width: 90%;
	height: 100%;
}

.download-panel {
	z-index: 10;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}
.download-panel-window {
	z-index: 11;
	position: fixed;
	width: 100vh;
	height: 97vh;
	background: black;
	border: 0.5vw solid white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.download-panel-window h3 {
	z-index: 12;
	font-size: 7vh;
	position: absolute;
	color: white;
	top: 3%;
	left: 5%;
	cursor: pointer;
	text-align: center;
	width: fit-content;
	height: fit-content;
	transition: color 0.25s;
}
.download-panel-window h3:hover {
	color: yellow;
	transition: color 0s;
}
.download-panel-window p {
	z-index: 12;
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	font-size: 3vh;
	text-align: center;
	width: fit-content;
	max-width: 90%;
}
.warning {
	color: red;
	font-size: 6vh;
}

.download-options {
	z-index: 12;
	position: absolute;
	bottom: 5%;
	left: 48%;
	transform: translateX(-52%);
	width: fit-content;
	height: fit-content;
	pointer-events: none;
}
.download-options li {
	z-index: 12;
	height: auto;
	width: auto;
	color: white;
	font-size: 4vh;
	margin: 1vh;
	padding: 0.5vh;
	list-style: none;
	text-align: center;
	cursor: pointer;
	background: none;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 4vh;
	padding-left: 6vh;
	pointer-events: all;
	transition: color 0.25s;
}

.download-options li:active {
	color: yellow;
	transition: color 0s;
}

.download-options li:hover {
	background: url('/img/heart.png');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 4vh;
	padding-left: 6vh;
}
