// Set the width of the main content area
// Notice that the actual content's width is $site-width - 100px
$site-width: 800px;

$headline-font: 'Comfortaa',
sans-serif;
$content-font: 'Open Sans',
sans-serif;
$article-footer-font: 'Fira Code',
monospace;

// main colors
$page-background-color: #030b1c;
$base-color: #091c47;
$special-color: #0F3280;
$highlight-color: #1344b0;
$text-color: #fff;

// easy styling
$nav-background-color: $special-color;
$nav-text-color: #fff;
$algolia-search-box-color: black;
$algolia-search-box-icon-color: white;
$algolia-search-box-background-color: white;
$algolia-border-color: $highlight-color;

$header-text-color: #fff;
$logo-color: darken(#fff, 1);
$bubble-color: #fff;
$bubble-background-color: $page-background-color;
$bubble-hover-color: $highlight-color;

$article-background-color: $base-color;
$meta-text-color: white;
$meta-border-color: white;
$continue-reading-hover-color: white;

$footer-border-color: $highlight-color;
$footer-background-color: $base-color;
$footer-headline-color: white;


@mixin featuredImage() {
    .featured-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        opacity: 0.25;
    }
}
