/* coded by omerakgoz34 :) */

.logo {
	position: relative;
	width: 200px;
	height: 200px;
	top: 7rem;
	box-shadow: 0 0 2rem rgb(30, 100, 255);
	border-radius: 50%;
	pointer-events: none;
	user-select: none;
}

.page-bsce-title {
	position: relative;
	color: white;
	top: 8rem;
	text-align: center;
	font-size: 2rem;
	width: fit-content;
	height: fit-content;
	user-select: none;
}

p {
	position: relative;
	top: 10rem;
	color: white;
	font-size: 1.2rem;
	width: fit-content;
	height: fit-content;
	max-width: 90%;
	text-align: justify;
}

.social {
	position: relative;
	color: yellow;
	top: 17rem;
	text-align: center;
	font-size: 2rem;
	width: fit-content;
	height: fit-content;
	user-select: none;
}

.discord {
	position: relative;
	top: 20rem;
	padding-bottom: 3rem;
}