/* coded by omerakgoz34 :) */

/* base configs */
@font-face {
	font-family: 'bsce-pixel';
	src: url('/font/bsce_pixel.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: 'bsce-pixel';
	margin: 0;
	padding: 0;
	text-decoration: none;
	scrollbar-color: rgba(30, 100, 255, 0.5) black ;
	scrollbar-width: thin;
}

/* base themes */
html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	background: black;
}

*::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
*::-webkit-scrollbar-track { background: black; }
*::-webkit-scrollbar-corner {
	background-color: black;
	width: 5px;
	height: 5px;
}
*::-webkit-scrollbar-thumb { background: rgba(30, 100, 255, 0.5); }
*::-webkit-scrollbar-thumb:hover { background: rgb(30, 100, 255); }

.title-bsce {
	color: rgb(30, 100, 255);
	animation: bluePulse 3s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

@keyframes bluePulse {
	0%{ color: rgb(30, 100, 255); }
	50%{ color: rgba(30, 100, 255, 0.5); }
	100%{ color: rgb(30, 100, 255); }
}

@keyframes bluePulseBorder {
	0%{ border-color: rgb(30, 100, 255); }
	50%{ border-color: rgba(30, 100, 255, 0.5); }
	100%{ border-color: rgb(30, 100, 255); }
}

/* pre-properities */
.center {
	left: 50%;
	transform: translateX(-50%);
}
.center-2 {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.center-flex {
	align-items: center;
	justify-content: center;
}

/* navbar */
.navbar {
	position: fixed;
	height: 2.5rem;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(30, 100, 255, 0.5);
	box-shadow: 0 5px 5px rgba(30, 100, 255, 0.5);
	overflow: hidden;
	z-index: 10;
}

.navbar-list {
	position: absolute;
	display: flex;
	flex-wrap: nowrap;
	width: fit-content;
	height: fit-content;
	overflow: hidden;
}

.navbar-list > div {
	font-size: 1.5rem;
	text-align: center;
	margin: 0 2rem;
	color: white;
	cursor: pointer;
	user-select: none;
	transition: color 0.25s;
}

.navbar-list > div:active {
	color: yellow;
	transition: color 0s;
}

/* stars backgorund */
#stars {
	position: fixed;
	display: none;
	opacity: 0;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: -10;
	pointer-events: none;
	user-select: none;
	animation-delay: 0.5s;
}

#stars img {
	width: 10px;
	height: 10px;
	position: absolute;
}

@keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0.5; }
	100% { opacity: 1; }
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
