@font-face {
  font-family: "Pokémon DP Pro";
  src: url("/font/pokemondp.ttf") format("ttf"), url("/font/pokemondp.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#textbox {
  text-shadow: 3px 3px #A5A5AD;
  color: #52525A;
  font-size: 400%;
  font-family: "Pokémon DP Pro";
  position: absolute;
  left: 47px;
  top: 23px;
  letter-spacing: 2.3px;
  width: 875px;
  height: fit-content;
  overflow: hidden;
  border: 1px dotted rgb(131, 131, 131);
  border-spacing: 0;
  line-height: 63px;
}

body {

  background-color: black;
  background-image: url('/img/poke_bg.png');
  background-repeat: repeat-y;
}

#yazdir{
  position: absolute;
  top: 25px;
  right: 125px;
  width: fit-content;
  height: fit-content;
  font-size: 25px;
}

p {
  font-size: 30%;
  color:white;
  font-family: "Pokémon DP Pro";
  position: absolute;
  top: 50px;
  right: 50px;
  width: fit-content;
  height: fit-content;
  font-size: 25px;


}
#one {
  position: absolute;
  top: 250px;
  right: 145px;
  width: fit-content;
  height: fit-content;
  font-size: 12px;
}
#two {
  position: absolute;
  top: 280px;
  right: 140px;
  width: fit-content;
  height: fit-content;
  font-size: 12px;
}