/* coded by omerakgoz34 :) */

.title {
	position: relative;
	color: white;
	top: 100px;
	text-align: center;
	font-size: 50px;
	width: fit-content;
	height: fit-content;
	user-select: none;
}

.type {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	top: 125px;
	width: fit-content;
	height: fit-content;
	user-select: none;
}

.type > div {
	width: fit-content;
	height: fit-content;
	color: white;
	list-style: none;
	margin: 0 25px;
	font-size: 30px;
	cursor: pointer;
	user-select: none;
}

.projects {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	top: 140px;
	width: fit-content;
	height: fit-content;
	user-select: none;
}

.projects > div {
	width: 250px;
	height: 250px;
	border: 5px solid rgba(30, 100, 255, 0.5);
	animation: bluePulseBorder 3s infinite;
	border-radius: 5%;
	overflow: hidden;
	cursor: pointer;
	user-select: none;
	margin: 30px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
}

.projects > div > p {
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: white;
	height: fit-content;
	width: fit-content;
	font-size: 20px;
	max-width: 90%;
	background: rgba(0, 0, 0, 0.5);
	pointer-events: none;
	text-align: center;
	user-select: none;
}
