/* coded by omerakgoz34 :) */

.container-title {
	position: relative;
	text-align: center;
	color: white;
	font-size: 3rem;
	top: 8rem;
}

.container-image {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	top: 10rem;
	height: fit-content;
	width: 30rem;
	max-width: 80vw;
	pointer-events: none;
}

.container-image img {
	max-width: 100%;
	height: auto;
	width: auto;
	display: block;
  margin-left: auto;
	margin-right: auto;
}

.container {
	position: relative;
	width: fit-content;
	height: fit-content;
	left: 50%;
	top: 5rem;
	transform: translateX(-50%);
}

.container .title {
	position: relative;
	text-align: center;
	color: yellow;
	font-size: 3rem;
	margin-top: 8rem;
}

.container .text {
	position: relative;
	text-align: left;
	color: white;
	font-size: 1.2rem;
	width: fit-content;
	height: fit-content;
	margin: 3rem 0;
	left: 50%;
	transform: translateX(-50%);
}

.container .text .span {
	color: rgb(30, 100, 255);
	font-size: 2rem;
	text-align: center;
}

.download-panel {
	z-index: 10;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}
.download-panel .window {
	z-index: 11;
	position: fixed;
	width: 100vh;
	height: 97vh;
	background: black;
	border: 0.5vw solid white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.download-panel .window .close {
	z-index: 12;
	font-size: 7vh;
	position: absolute;
	color: white;
	top: 3%;
	left: 5%;
	cursor: pointer;
	text-align: center;
	width: fit-content;
	height: fit-content;
	transition: color 0.25s;
}
.download-panel .window .close:hover {
	color: yellow;
	transition: color 0s;
}
.download-panel .window .text {
	z-index: 12;
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	font-size: 3vh;
	text-align: center;
	width: fit-content;
	max-width: 90%;
}
.download-panel .window .text .warning {
	color: red;
	font-size: 6vh;
}

.download-options {
	z-index: 12;
	position: absolute;
	bottom: 5%;
	left: 48%;
	transform: translateX(-52%);
	width: fit-content;
	height: fit-content;
	pointer-events: none;
}
.download-options li {
	z-index: 12;
	height: auto;
	width: auto;
	color: white;
	font-size: 4vh;
	margin: 1vh;
	padding: 0.5vh;
	list-style: none;
	text-align: center;
	cursor: pointer;
	background: none;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 4vh;
	padding-left: 6vh;
	pointer-events: all;
	transition: color 0.25s;
}

.download-options li:active {
	color: yellow;
	transition: color 0s;
}

.download-options li:hover {
	background: url('/img/heart.png');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 4vh;
	padding-left: 6vh;
}
