/* coded by omerakgoz34 :) */

.title {
	position: relative;
	color: white;
	top: 100px;
	text-align: center;
	font-size: 40px;
	width: fit-content;
	height: fit-content;
	user-select: none;
}

.video {
	position: relative;
	top: 50px;
	width: 858px;
	height: 480px;
	background: black;
	margin: 100px 0;
	box-shadow: 0 0 25px rgb(30, 100, 255);
}