{{ define "main" }}

<div class="content">
    <div class="article-wrapper u-cf single">
        <a class="bubble" href="{{ "/ceviriler/" | relLangURL}}">
            <i class="fa fa-fw fa-list"></i>
        </a>

        <article class="article">
            <div class="content">
                <h3>{{ i18n "translations" }}</h3>
                <hr>
                <ul id="all-categories">
                    {{ range $name, $taxonomy := .Site.Taxonomies.ceviriler }}
                        <li><a class="termslist" href="{{ "/ceviriler/" | relLangURL }}{{ $name | urlize }}">{{ $name | humanize }} ({{ $taxonomy.Count }})</a></li>
                    {{ end }}
                </ul>
            </div>
        </article>
    </div>
</div>
{{ end }}
