{{ define "main" }}
    {{ $paginator := .Paginate (where .Data.Pages "Type" "ne" "sayfa") (index .Site.Params "paginate" | default 7) }}
    {{ range  where .Paginator.Pages "Type" "ne" "sayfa" }}
        {{ .Scratch.Set "singlePage" false }} <!-- RESET singlePage variable -->
        <div class="article-wrapper u-cf">
            {{  if (fileExists (print "layouts/partials/content-type/" .Type ".html")) }}
                {{ partial (print "content-type/" .Type) . }}
            {{ else }}
                {{ partial "content-type/yazi" . }}
            {{ end }}
        </div>
    {{ end }}

    {{ partial "paginator" . }}
{{ end }}
