{{ define "main" }}

<div class="content">
    <div class="article-wrapper u-cf single">
        <a class="bubble" href="{{ "/" | relLangURL}}">
            <i class="fa fa-fw fa-exclamation-triangle"></i>
        </a>

        <article class="error404 article">
            <div class="content">
                <p>Aradığınız sayfanın bu olduğunu hiç sanmıyorum.</p>
                <p><a href="/ceviriler-istekler">Çevirilerimize</a> bakabilir veya <a href="/">ana sayfaya</a> dönebilirsiniz.</p>
            </div>
        </article>
    </div>
</div>
{{ end }}
