{{ define "main" }}

<div class="content">
    <div class="article-wrapper u-cf single">
        <a class="bubble" href="{{ "/" | relLangURL}}">
            <i class="fa fa-fw fa-exclamation-triangle"></i>
        </a>

        <article class="error404 article">
            <div class="content">
                <h3>Dostum!</h3>
                <p></p>
                <p>Aradığın sayfanın bu olduğunu hiç sanmıyorum...</p>
                <p><strong>404 Hatası.</strong> Bu demek oluyor ki bu sayfa mevcut değil. </p>
                <p>Lütfen aşağıdan bir kategori seç veya <a href="{{ "/" | relLangURL}}">Ana Sayfa</a>'ya git.</p>
            </div>
        </article>
    </div>
</div>
{{ end }}
